*
    padding: 0
    margin: 0
    box-sizing: border-box
    user-select: none
    -ms-user-select: none

body
    display: inline-grid
    grid-template-columns: auto auto auto
    overscroll-behavior-y: contain

    .event, .function, .statement, .truthyBlock, .truthyFalsyBlock
        z-index: 2
        cursor: grab
        &[data-grabbing="true"]
            z-index: 10
            cursor: grabbing
            -webkit-filter: drop-shadow( 0px 0px 4px rgba(0, 0, 0, .7))
            filter: drop-shadow( 0px 0px 4px rgba(0, 0, 0, .7))
    
        .scratch-truthy-container, .scratch-falsy-container
            &:hover
                cursor: default

    .event
        fill: #FFBF00
        stroke: #CC9900

    .function
        fill: #FF6680
        stroke: #FF3355

    .statement
        fill: #4C97FF
        stroke: #710ec2

    .truthyBlock, .truthyFalsyBlock
        fill: #FFAB19
        stroke: #b44505

    .shadow
        fill: #bbbbbb
        stroke: rgba(130, 130, 130, 0.8)
        z-index: 1

    .component-container
        display: flex
        flex-direction: column
        align-items: center
        padding: 10px
        width: 200px

    .build-container
        font-family: sans-serif
        font-size: small
        position: fixed
        bottom: 5px
        right: 5px
        opacity: 0.1

        &:hover
            opacity: 1.0

        .build, .date
            padding: 5px 8px
            display: inline-block
            color: rgb(255, 255, 255)

        .build
            border-radius: 3px 0 0 3px
            background-color: rgb(90, 90, 90)
            padding-right: 4px

        .date
            border-radius: 0 3px 3px 0
            background-color: rgb(13, 126, 190)
            padding-left: 4px