svg
    width: 100%
    height: 100%
    display: block
    position: absolute

.conditional-loop
    path
        fill: #FFAB19
        stroke: #CF8B17

.statement-block
    z-index: 2

    path
        fill: #397af3
        stroke: #0c22e9